<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - jacobhall.dev</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">JacobHall.dev</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active nav-item px-2 rounded-3" : "nav-item px-2 rounded-3")">
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link d-flex align-items-center justify-content-center fw-bold" })
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active nav-item px-2 rounded-3" : "nav-item px-2 rounded-3")">
                            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link d-flex align-items-center justify-content-center fw-bold" })
                        </li>
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active nav-item px-2 rounded-3" : "nav-item px-2 rounded-3")">
                            @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link d-flex align-items-center justify-content-center fw-bold" })
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="main">
        @RenderBody()
    </main>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-muted">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->
            <!-- Right -->
            <div>
                <a href="https://www.linkedin.com/in/jacob-hall-47584a235/" target="_blank" class="me-4 text-reset">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/jamh26" target="_blank" class="me-4 text-reset">
                    <i class="fab fa-github"></i>
                </a>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->
        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>JacobHall.dev
                        </h6>
                        <p>
                            Experienced software developer and systems engineer with a lifelong interest in technology.
                            I enjoy the outdoors as much as I can with my fiance and four dogs.
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Navigation
                        </h6>
                        <p class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active footer-link" : "footer-link")">
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "footer-alink" })
                        </p>
                        <p class="@(ViewContext.RouteData.Values["Action"].ToString() == "About" ? "active footer-link" : "footer-link")">
                            @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "footer-alink" })
                        </p>
                        <p class="@(ViewContext.RouteData.Values["Action"].ToString() == "Technology" ? "active footer-link" : "footer-link")">
                            @Html.ActionLink("Technology", "Technology", "Home", new { area = "" }, new { @class = "footer-alink" })
                        </p>
                        <p class="@(ViewContext.RouteData.Values["Action"].ToString() == "Contact" ? "active footer-link" : "footer-link")">
                            @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "footer-alink" })
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Dev Links
                        </h6>
                        <p>
                            <a href="https://gitlab.jacobhall.dev" target="_blank" class="text-reset">GitLab</a>
                        </p>
                        <p>
                            <a href="https://harbor.jacobhall.dev" target="_blank" class="text-reset">Harbor</a>
                        </p>
                        <p>
                            <a href="https://docker.jacobhall.dev" target="_blank" class="text-reset">Portainer</a>
                        </p>
                        <p>
                            <a href="https://bookstack.jacobhall.dev" target="_blank" class="text-reset">BookStack</a>
                        </p>
                    </div>
                    <!-- Grid column -->
                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Contact
                        </h6>
                        <p><i class="fas fa-home me-3"></i> New Mexico, USA</p>
                        <p>
                            <i class="fas fa-envelope me-3"></i>
                            Jacob@JacobHall.dev
                        </p>
                        <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->
        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2022 Copyright:
            <a class="text-reset fw-bold" href="https://jacobhall.dev/">JacobHall.dev</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
